<section id="users">

  <div class="header">
    <h1>User: <%= @user.name %></h1>
  </div>
  
  <p>email: <%= @user.email %></p>
  <p>id: <%= @user.id %></p>
  <p>account: <%= @user.account.name %></p>

  <p>Find me in app/views/users/edit.html.erb</p>

</section>