<section id="home">
  <h1>pages#home</h1>

  <p>
    <% if current_user %>
      <%= current_user.name.capitalize %> is signed in.
    <% else %>
      No one is signed in.
    <% end %>
  </p>
  <p>
    Existing accounts:
  </p>
  <ul>
    <% @accounts.each do |account| %>
      <li><%= link_to account.name, root_url(:subdomain => account.name) %></li>
    <% end %>
  </ul>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</section>