<section id="home">
  <h1>Mugatu</h1>

  <p>
    This is the home page for the Mugatu.
  </p>
  <p>
    Here's a list of existing domains
  </p>
    
  <ul>
    <% @accounts.each do |account| %>
      <li><%= link_to account.name, root_url(:subdomain => account.name) %></li>
    <% end %>
  </ul>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</section>