<section id="home">
  <h1>pages#home</h1>

  <p>
    Existing accounts:
  </p>
  <ul>
    <% @accounts.each do |account| %>
      <li><%= link_to account.name, account %></li>
    <% end %>
  </ul>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</section>