$red:   #c4161b;
$gray:  #444;
$green: rgb(40,210,40);

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
@mixin box-shadow-inset($ew, $ns, $size, $color) {
  box-shadow:           inset #{$ew} #{$ns} #{$size} #{$color};
  -webkit-box-shadow:   inset #{$ew} #{$ns} #{$size} #{$color};
  -moz-box-shadow:      inset #{$ew} #{$ns} #{$size} #{$color};
}
@mixin border-radius($size) {
  border-radius:          #{$size};
  -webkit-border-radius:  #{$size};
  -moz-border-radius:     #{$size};
}

.wrap {
  width: 960px;
  margin: 0 auto;
}
.right {
  float: right;
  display: block;
}
.left {
  float: left;
  display: block;
}

body {
  background: #eee;
  position: relative;
}

h1 { font-size: 30px; }
h4 { font-size: 16px; }

section {
  background: #fff;
  border: 1px solid #bbb;
  .header {
    padding: 10px 20px;
  }
  .overview {
    background: lighten($green, 45%);
    border-top: 1px solid lighten($green, 35%);
    padding: 10px 20px;
    h4 {
      background: rgba(0,0,180,.10);
      padding: 5px 0;
      a {
        font-size: 13px;
        padding: 0 5px;
      }
    }
    ul {
      li:nth-child(even) {
        background-color: rgba(0,0,0,.05);
      }      
    }
  }
}

ul {
  li {
    padding: 5px 0;
    span {
      font-size: 12px;
      color: #555;
      padding: 0 10px;
    }
  }
}

a[data-method=delete] {
  color: $red;
  &:hover {
    color: darken($red, 8%);
    text-decoration: underline;
  }
}